/logs/
/data/
known_senders_private.csv
/msg_file_renamer.egg-info/
config/known_senders.csv
config/known_senders.csv
*.xlsx
*.pyc
config/known_senders.csv
debug_msgfilerenamer.txt
msg_file_renamer_SHAPTH.bat
